# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\batel\OneDrive - post.bgu.ac.il\University\Active Courses\OOP\Assignments\Assignment 3\Dungeons and Dragons\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
